# Environment
ENV=development

# Application
NAME=Pynest
HOST=0.0.0.0
PORT=8000

# Pagination
LIMIT=15

# Database
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=
DB_NAME=pynest
DB_PORT=5432

# JWT
JWT_SECRET_KEY=fT6vJzElMX0LzAmv9q7kKptuHYOe9PxTQ3dQgG6KvPs
JWT_EXPIRY=7d
JWT_REFRESH_EXPIRY=30d
JWT_ISSUER=Pynest
JWT_ALGORITHM=HS256


# Logging
LOG_LEVEL=DEBUG
LOG_FILE_NAME_FORMAT=YYYY-MM-DD
LOG_PATH=logs